<h1>All our Flats (<%= @flats.length %>)</h1>
<div class="container">
  <ul>
    <% @flats.each do |flat| %>
      <li><div class="card">
        <h4><%= flat.name %></h4>
        <p><%= flat.description %></p>
        <p><i class="fa-solid fa-user-group"></i> <%= flat.number_of_guests %></p>
        <p><i class="fa-solid fa-dollar-sign"></i> <%= flat.price_per_night %></p>
        <div class="card-footer">
          <%= link_to "More info", flat_path(flat) %>
        </div>
      </div></li>
    <% end %>
  </ul>
</div>
