<h1>New Flat</h1>

<%= simple_form_for(@flat) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :description %>
  <%= f.input :number_of_guests %>
  <%= f.input :price_per_night %>
  <%= f.submit "Create Flat", class: "btn btn-primary"%>
<% end %>

<%= link_to "Back to all flats", flats_path %>
